# Classic books
Time to use your new DataFrame skills to analyze the books dataset one last time.

You are working for a publisher that wants to spotlight classic books this month. Can you analyze the DataFrame `df_books` to find the top-rated books published before 1900?

`df_books` is available in your environment.

In [1]:
using CSV
using DataFrames
path="D:\\Cursos\\Julia\\datasets\\"
# Load the CSV file
df_books = CSV.read(path*"books.csv",DataFrame)
first(df_books,5)

5×12 DataFrame
 Row │ goodreads_book_id  authors                      original_publication_ye ⋯
     │ Int64              String                       Union{Missing, Int64}   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │           2767052  Suzanne Collins                                   20 ⋯
   2 │                 3  J.K. Rowling, Mary GrandPré                       19
   3 │             41865  Stephenie Meyer                                   20
   4 │              2657  Harper Lee                                        19
   5 │              4671  F. Scott Fitzgerald                               19 ⋯
                                                              10 columns omitted

* Filter the DataFrame to rows where the integer in the `original_publication_year` column is less than 1900.
* Sort the `df_old_books` DataFrame by the `average_rating` column, sorting from **high to low**.
* Print the first five rows of the DataFrame to show the top-rated old books.

In [5]:
# Filter to books which were published before 1900
df_old_books = filter(row -> row.original_publication_year < 1900 , df_books)

# Sort these books by rating
df_old_books_sorted = sort(df_old_books, "average_rating", rev=true)

# Print the 5 top-rated old books
println(first(df_old_books_sorted,5))

TypeError: TypeError: non-boolean (Missing) used in boolean context