# DataFrame properties
One of the benefits of DataFrames is that they allow us to work with big datasets much more easily than with arrays. These datasets can be very long and have lots of rows, and they can be very wide with lots of columns.

In this chapter, you will work with the `"books.csv"` dataset. Each row corresponds to information about a single book and its ratings on a book review website.

In this exercise, you'll explore the dataset to familiarize yourself with its columns and length. You'll analyze it in more depth later.

The `DataFrames` and `CSV` packages have been imported for you with the `using` keyword.

* Load the `"books.csv"` dataset into a DataFrame.
* Use the `names()` function to print the column names of the dataset.
* Use the `size()` function to print the number of rows and columns in the dataset.

In [2]:
using CSV
using DataFrames
path="D:\\Cursos\\Julia\\datasets\\"
# Load the CSV file
file_contents = CSV.read(path*"books.csv",DataFrame)
first(file_contents,5)

5×12 DataFrame
 Row │ goodreads_book_id  authors                      original_publication_ye ⋯
     │ Int64              String                       Union{Missing, Int64}   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │           2767052  Suzanne Collins                                   20 ⋯
   2 │                 3  J.K. Rowling, Mary GrandPré                       19
   3 │             41865  Stephenie Meyer                                   20
   4 │              2657  Harper Lee                                        19
   5 │              4671  F. Scott Fitzgerald                               19 ⋯
                                                              10 columns omitted

In [3]:
# Load the book review data
df_books = DataFrame(CSV.File(path*"books.csv"))

# Print column names
println(names(df_books))

# Find number of rows and columns
println(size(df_books))

["goodreads_book_id", "authors", "original_publication_year", "title", "average_rating", "ratings_count", "work_text_reviews_count", "

ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"]

(10000, 12)