# Indexing DataFrames
DataFrames are powerful tools for analyzing data, but you need to be able to select the information you need from them. Let's practice selecting data here.

The DataFrames `df_patients`, `df_grades`, and `df_books` are available in your environment.

In [2]:
using CSV
using DataFrames
path="D:\\Cursos\\Julia\\datasets\\"
# Load the CSV file
df_patients = CSV.read(path*"patients.csv",DataFrame)
df_books = CSV.read(path*"books.csv",DataFrame)

#
grades_array = ["ABBA","CABA","BAAA","AAAA","ABAC","BBBA","ACBC","ACCC","BAAA","BBCA"]

function get_gradenumber(grades, n)
	return grades[n]
end

df_grades = DataFrame(
	mathematics=get_gradenumber.(grades_array, 1),
    history=get_gradenumber.(grades_array, 2), 
    science=get_gradenumber.(grades_array,3), 
    drama=get_gradenumber.(grades_array, 4),
)
println(first(df_patients,3))
println(first(df_books,3))
println(first(df_grades,3))

3×3 DataFrame
 Row │ bodytemp  sex      heartrate
     │ Float64   String7  Int64
─────┼──────────────────────────────
   1 │     97.6  female          61
   2 │     97.4  male            70
   3 │     98.5  male            71

3×12 DataFrame
 Row │ goodreads_book_id  authors                      original_publication_year  title                              average_rating  ratings_count  work_text_reviews_count  ratings_1  ratings_2  ratings_3  ratings_4  ratings_5
     │ Int64              String                       Union{Missing, Int64}      String                             Float64         Int64          Int64                    Int64      Int64      Int64      Int64      Int64
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │           2767052  Suzanne Collins                                   2008  The Hunger Games (The Hunger Gam…            4.34        4780653                   155254      66715     127936     560092    1481305    2706317
   2 │                 3  J.K. Rowling, Mary GrandPré                       1997  Harry Potter and the Sorcerer's …            4.44        4602479                    75867      75504     101676     455024    1156318    3011543
   3 │             41865  Stephenie Meyer                                   2005  Twilight (Twilight, #1)                      3.57        3866839                    95009     456191     436802     793319     875073    1355439

3×4 DataFrame
 Row │ mathematics  history  science  drama
     │ Char         Char     Char     Char
─────┼──────────────────────────────────────
   1 │ A            B        B        A
   2 │ C            A        B        A
   3 │ B            A        A        A

### Instructions

* Select the bodytemp column from the DataFrame df_patients.

In [3]:
# Select the body temperature column
body_temps = df_patients[:, "bodytemp"]

println(body_temps)

[97.6, 97.4, 98.5, 97.4, 98.2, 98.8, 98.2, 98.5, 98.0, 98.7, 97.2, 98.4, 97.6, 98.4, 97.8, 98.4, 97.8, 98.8, 98.0, 98.8, 96.4, 97.7, 97.5, 99.0, 98.7, 98.6, 98.8, 97.8, 98.6, 98.0, 99.4,

97.9, 97.7, 98.4, 99.0, 96.8, 98.2, 98.4, 97.4, 97.1, 98.7, 97.8, 99.0, 98.0, 99.5, 98.0, 98.3, 98.6, 98.6, 97.9, 98.6, 97.4, 98.4, 98.8, 98.8, 98.7, 98.6, 97.6, 99.4, 99.0, 99.3, 99.1, 97.9, 97.5, 98.3, 96.3, 97.6, 98.0, 98.1, 98.7, 98.0, 97.2, 99.9, 98.6, 98.8, 98.6, 98.4, 98.2, 98.8, 96.7, 98.3, 98.0, 97.2, 97.9, 98.2, 98.0, 99.2, 98.8, 98.7, 97.9, 98.4, 98.2, 96.7, 97.8

, 98.2, 98.1, 99.1, 98.2, 98.4, 97.1, 97.7, 98.2, 98.9, 98.0, 100.0, 97.8, 97.1, 99.0, 97.8, 97.3, 98.2, 98.6, 98.5, 99.1, 98.3, 98.0, 98.6, 99.3, 97.0, 98.9, 100.8, 99.2, 97.4, 99.2, 98.8, 98.1, 98.7, 98.7, 96.9, 98.3]

* Select the third row of grades from the `df_grades` DataFrame.

In [4]:
# Select the third row of df_grades
third_grades = df_grades[3, :]

println(third_grades)

DataFrameRow
 Row │ mathematics  history  science  drama
     │ Char         Char     Char     Char
─────┼──────────────────────────────────────
   3 │ B            A        A        A

* Select the value in the 710th row of the `title` column in `df_books`.

In [5]:
# Select the 
book_title = df_books[710, "title"]

println("The book is $book_title")

The book is DataFrameRow
 Row │ goodreads_book_id  authors       original_publication_year  title                              average_rating  ratings_count  work_text_reviews_count  ratings_1  ratings_2  ratings_3  ratings_4  ratings_5
     │ Int64              String        Union{Missing, Int64}      String                             Float64         Int64          Int64                    Int64      Int64      Int64      Int64      Int64
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 710 │             13747  Julie Powell                       2005  Julie and Julia: 365 Days, 524 R…            3.67         121373                     7434       4405      11803      37340      44811      31204